@{
    ViewBag.Title = "Home Page";
}



<div class="jumbotron">
    <h1>Family Expenses</h1>
    <p class="lead">
        Сourse work on databases
    </p>
    <p class="lead">Manhusehva Yana IS-02</p>
    <p>@Html.ActionLink("About", "About", "Home", null, htmlAttributes: new { @class = "btn btn-primary btn-lg" })</p>

</div>

<div class="row">
    <img src="~/img/family12.svg" alt="Family" style="margin:auto; width:500px; display:block" />
</div>